# Media files
*.mp4
*.mp3
*.wav
*.avi
*.mkv
*.mov
*.flv
*.webm

# Downloaded content
downloads/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files
.vscode/
.idea/
